@tailwind base;
@tailwind components;
@tailwind utilities;
 

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
	font-family: 'poppins', sans-serif;
}
/* Custome Tailwind Start Here */

  .my_btn_main {
    @apply w-48 h-11 bg-orange-500 float-left mr-4 rounded-full text-lg text-white text-left pt-2 pr-14 pb-0 pl-5 relative tracking-wider cursor-pointer transition duration-300 hover:bg-indigo-900;
  }
  .my_btn_inner {
    @apply absolute right-0 top-0 bottom-0 text-black bg-slate-100 w-12 h-auto text-center rounded-r-full;
  }

/* Custome Tailwind End Here */
/* Side Nav Start Here */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

/* Side Nav End Here */

/* Slider Start Here */
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet-active {
    background: #161c34 !important;
}
/* Slider End Here */

#choose_us::before {
  content: "";
  width: 100%;
  height: 300px;
  display: block;
  position: absolute;
  background: url("../public/images/cross_blue.png");
  top: -298px;
  z-index: 9;
}
#contact::before {
  content: "";
  width: 100%;
  height: 300px;
  display: block;
  position: absolute;
  background: url("../public/images/cross_blue.png");
  top: -298px;
  z-index: 9;
}
.blog_footer::before {
  content: "";
  width: 100%;
  height: 200px;
  display: block;
  position: absolute;
  background: url("../public/images/cross_blue.png");
  top: -199px;
  z-index: 9;
}
#testimonial::before {
  content: "";
  width: 100%;
  height: 300px;
  display: block;
  position: absolute;
  background: url("../public/images/cross_orange.png");
  top: -298px;
  z-index: 9;
}
#more, #more2, #chouseUsMore, #chouseUsMore2, #chouseUsMore3{
  display: none;
}
#seeMore{
  display: none;
}
.scrolled {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #161c34;
  border-bottom: 1px solid #F36B2A;
}
